/.idea/workspace.xml
/var/
!/var/coverage/.gitKeep
/docker-compose.override.yml
/vendor/
/phpunit.xml

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
