version: '3'

services:
  mysql-master:
    environment:
      - MYSQL_USER=gol_hexagonal
      - MYSQL_DATABASE=gol_hexagonal
      - MYSQL_ROOT_PASSWORD=gol_hexagonal
      - MYSQL_PASSWORD=gol_hexagonal
      - MYSQL_REPLICATION_PASSWORD=repl_password
  mysql-slave:
    environment:
      - MYSQL_ROOT_PASSWORD=gol_hexagonal
      - MASTER_PASSWORD=repl_password
  apache:
    environment:
      - APP_DOMAIN=vhost-app-name
      - APP_DOC_ROOT=/var/www/public
      - APACHE_SERVERNAME=apache-servername
