<phpunit colors="true" verbose="true" backupGlobals="false">
    <testsuite name="Tests">
        <testsuite name="Unit">
            <directory suffix=".php">./tests/Domain</directory>
        </testsuite>
    </testsuite>
    <logging>
        <log type="coverage-html" target="./var/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35"
             highLowerBound="70"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
